.aboutImg {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40%;
}

.aboutImg>img {
    max-width: 100%;
}

.title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-family: monospace;
    text-shadow: 0 0 10px #005800, 0 0 15px #005800, 0 0 20px #005800, 0 0 25px #005800, 0 0 30px #005800, 0 0 35px #005800, 0 0 40px #005800;
}

.text {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    margin-left: -0.1ch;
    margin-bottom: 1rem;
}

.learnMoreBtn {
    margin-left: -.5rem;
    margin-top: 3rem;
    font-size: 1rem;
}

.sectionContainer {
    display: flex;
    flex-direction: row;
    padding: 4rem 4rem;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    max-width: 75rem;
}

@media screen and (max-width: 850px) {
    .aboutInfoContainer {
        width: 100%;
        margin-top: 4rem;
        order: 2;
    }

    .sectionContainer {
        flex-direction: column;
        width: 100%;
        padding: 1rem;
        gap: 2rem;
    }

    .aboutInfoContainer {
        width: 100%;
        margin-top: 1rem;
        order: 2;
    }

    .aboutImg {
        order: 2;
        max-width: 90%;
    }
}