.sectionContainer {
    padding: 3rem;
    width: 100%;
}

.title {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-family: monospace;
    color: #fff;
    text-shadow: 0 0 10px #005800, 0 0 15px #005800, 0 0 20px #005800, 0 0 25px #005800, 0 0 30px #005800, 0 0 35px #005800, 0 0 40px #005800;
    text-decoration: underline var(--text-accent);
    text-decoration-thickness: 0.25rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media screen and (max-width: 750px) {
    .sectionContainer {
        padding: 0.5rem;
    }
}