.sectionContainer {
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 3rem;
    width: 100%;
    background-color: #002700;
}

.title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-family: monospace;
    color: #fff;
    text-shadow: 0 0 10px #005800, 0 0 15px #005800, 0 0 20px #005800, 0 0 25px #005800, 0 0 30px #005800, 0 0 35px #005800, 0 0 40px #005800;
}

.table {
    margin: auto;
    font-size: 1.15vw;
    color: #FFF0EA;
    border: none;
    width: 100%;
}

.thead {
    border-bottom: 2px solid #FFF0EA;
    padding: 1vh 2vw;

}

.th {
    color: #00c200;;
    border-bottom: 2px solid #FFF0EA;
    padding: 1vh 2vw;
    text-align: left;
    padding: .5vw;
    font-size: 3.5vh;
}

.td{
    border: none;
    text-align: left;
    padding: .5vw;
    font-size: 3.5vh;
}