.sectionContainer {
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    width: 100%;
    background-color: #002700;
    border-left: 0.3rem solid var(--text-accent);
    margin: 0 3rem;
}

.title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-family: monospace;
    color: #fff;
    text-shadow: 0 0 10px #005800, 0 0 15px #005800, 0 0 20px #005800, 0 0 25px #005800, 0 0 30px #005800, 0 0 35px #005800, 0 0 40px #005800;
    text-decoration: underline var(--text-accent);
    text-decoration-thickness: 0.25rem;
}

.table {
    margin: auto;
    font-size: 1.15vw;
    color: #FFF0EA;
    border: none;
    width: 100%;
}

.thead {
    border-bottom: 2px solid #FFF0EA;
    padding: 1vh 2vw;

}

.th {
    color: #00c200;
    border-bottom: 2px solid #FFF0EA;
    padding: 1vh 2vw;
    text-align: left;
    padding: .5vw;
    font-size: 2.5rem;
}

.td{
    border: none;
    text-align: left;
    padding: .5vw;
    font-size: 2rem;
}

@media screen and (max-width: 750px) {
    .sectionContainer {
        align-items: center;
        gap: 2rem;
        padding: 1rem;
        width: 100%;
        background-color: #002700;
        border-left: 0.3rem solid var(--text-accent);
        margin: 0;
    }

    .title {
        font-size: 2rem;
    }
    .th {
        color: #00c200;;
        border-bottom: 2px solid #FFF0EA;
        padding: 1vh 2vw;
        text-align: left;
        padding: .5vw;
        font-size: 1.5rem;
    }

    .td{
        border: none;
        text-align: left;
        padding: .5vw;
        font-size: 1rem;
    }
}