
.title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-family: monospace;
    text-shadow: 0 0 10px #005800, 0 0 15px #005800, 0 0 20px #005800, 0 0 25px #005800, 0 0 30px #005800, 0 0 35px #005800, 0 0 40px #005800;
    text-decoration: underline var(--text-accent);
    text-decoration-thickness: 0.25rem;
}

.sponsorCall {
    background-color: var(--background-darker);
    border-left: 0.5rem solid var(--text-accent);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.sponsorCall > p {
    margin: 0;
    font-size: 1rem;
}

.text {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    margin-left: -0.1ch;
    margin-bottom: 1rem;
}

.tier {
    padding: 1rem;
    margin-top: 1rem;
}


.row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;   
    justify-content: center;
}

.row > a > img {
    width: auto;
    height: 9rem;
}

.row > a:hover {
    background-color: transparent;
}

.platinum {
    background: linear-gradient(315deg, rgb(170, 170, 170, 0.5),  rgb(133, 133, 133, 0.5) 100%);
    border-left: 0.5rem solid white;
}

.platinum > div > img {
    height: 10rem;
}

.gold {
    background: linear-gradient(315deg, rgb(160, 157, 0, 0.5),  rgb(190, 146, 0, 0.5) 100%);
    border-left: 0.5rem solid yellow;
}

.silver {
    background: linear-gradient(315deg, rgb(155, 155, 155, 0.5),  rgb(104, 104, 104, 0.5) 100%);
    border-left: 0.5rem solid grey;
}

.bronze {
    background: linear-gradient(315deg, rgb(190, 102, 0, 0.5),  rgb(133, 86, 0, 0.5) 100%);
    border-left: 0.5rem solid #b08d57;
}

.tier > h1 {
    font-size: 2rem;
}

.sectionContainer {
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    width: 100%;
}

@media screen and (max-width: 850px) {
    .sectionContainer {
        width: 100%;
        padding: 1rem;
    }

    .row > img {
        height: 5rem;
    }
}