.main {
    background-color: var(--background);
    width: 100%;
    height: 100%;
}


.noResultContainer {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1rem;
    justify-content: center;
}
.headerContainer {
    padding: 1rem;
    width: 100%;
    background-color: var(--background-darker);
    border-bottom: 1px solid var(--text-accent);
}

.searchOptions {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    justify-content: center;
    gap: 0.5rem;
}

.galleryContainer {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
    justify-items: center;
    column-gap: 2rem;
    row-gap: 1rem;
    background-color: var(--background);
    padding: 1rem;
    min-height: 100vh;
}

.project {
    justify-self: stretch;
}

.searchBox {
    flex: 1;
}

.emptyContainer {
    height: 100vh;
}

.modalContainer {
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.698);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 1rem;
}

.modal {
    background-color: var(--background-darker);
    border: 1px solid var(--text-accent);
    width: 50rem;
}

.modalHeader {
    padding: 1rem;
    background-color: var(--text-accent);
    color: var(--background-darker)
}

.modalHeader>h2 {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.modalContent {
    padding: 1rem;
}

.modalContent>p {
    margin-bottom: 2rem;
}

.modalContent>p>a {
    padding: 0;
    text-decoration: underline 1px;
}

.modalContent>button {
    margin-right: 0.5rem;
}

.modalBtns {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    height: 3.5rem;
}

.demobtn, .gitbtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 0.5rem;
}

.demobtn > svg {
    stroke: var(--text-accent)
}

.demobtn:hover > svg {
    stroke: var(--text)
}

.demobtn {
    flex-grow: 1;
}

.modalBtns > a > svg {
    height: 1.5rem;
    width: 1.5rem;
    stroke-width: 2px;
}

@media screen and (max-width: 850px) {
    .galleryContainer {
        flex-direction: column;
        justify-items: center;
    }

    .project {
        max-width: none;
        width: 100%;
    }
}