.main {
  width: 100%;
  height: 100%;
}


.homecontainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 9rem;
  /*
  --background: #000000;
  --background-darker: #002700;
  */
  background: linear-gradient(0deg,  rgb(0, 0, 0), rgba(0, 39, 0, 0.67) 80%,  rgba(0, 39, 0, 0.67) 100%), url("/background.jpg"); 
  background-size: cover;
}

.announcementBanner {
  background-color: var(--background-darker);
  border-bottom: 1px solid var(--text-accent);
  padding: 0.5rem;
  font-size: 1rem;
}

.announcementBanner > p {
  margin: 0;
  font-weight: bold;
  text-align: center;
  font-family: monospace;
}

.announcementBanner > p > a {
  color: var(--text);
  padding: 0;
  text-decoration: underline double;
}

.logo {
  width: auto;
  height: auto;
  text-align: center;
  border-radius: 4px;
}

.title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-family: monospace;
  text-shadow: 0 0 10px #005800, 0 0 15px #005800, 0 0 20px #005800, 0 0 25px #005800, 0 0 30px #005800, 0 0 35px #005800, 0 0 40px #005800;
}

.btngroup {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 3rem;
}

.text{
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  margin-left: -0.1ch;
  margin-bottom: 1rem;
}


.present {
  background-color: #00dd37;
  border-color: #00dd37;
  color: var(--background);
  cursor: not-allowed;
}

.present:hover {
  background-color: #00dd37;
}

@media screen and (max-width: 750px) {
  .homecontainer {
    flex-direction: column;
    padding: 2rem;
  }

  .title {
    font-size: 3rem;
  }
  
  .logo {
    width: 15rem;

  }
}

.content {
  background-color: var(--background);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
