.sectionContainer {
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    width: 100%;

}

.container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-family: monospace;
    color: #fff;
    text-shadow: 0 0 10px #005800, 0 0 15px #005800, 0 0 20px #005800, 0 0 25px #005800, 0 0 30px #005800, 0 0 35px #005800, 0 0 40px #005800;
    text-decoration: underline var(--text-accent);
    text-decoration-thickness: 0.25rem;
}

@media screen and (max-width: 925px) {
    .sectionContainer {
        align-items: center;
        gap: 2rem;
        padding: 2rem;
        width: 100%;
    }

    .container {
        flex-direction: column;
    }
}