.card {
    width: 13rem;
    padding: 0.5rem;
    padding-top: 1.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    text-align: center;
    border: 2px solid #00c200;
    background: #002700;
}

.image {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
}

.name {
    font-size: 1.41rem;
    font-weight: bold;
    margin: 0.5rem 0;
}

.position {
    font-size: 1rem;
    margin: 0.5rem 0;
    color: #cdcbcb;
}