.container {
    border: 1px solid var(--text-accent);
    max-height: 35rem;
    display: flex;
    flex-direction: column;
    background-color: var(--background-darker);
    cursor: pointer;
}

.imgContainer > img {
    height: 17rem;
    width: auto;
    max-width: 100%;
    contain: content;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tracksContainer {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem;
    align-items: center;
    background-color: var(--background-accent);
    margin-top: auto;
}

.badge {
    font-family: monospace;
    background-color: var(--text-accent);
    color: var(--background);
    padding: 0.25rem;
}

.nameContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5rem;
}

.name {
    flex: 1;
    margin: 0;
    font-size: 1.5rem;
}

.head {
    padding: 0.75rem;
    background-color: var(--background-accent);
}

.head > p {
    margin: 0;
}

.descContainer > p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0;
}

.descContainer {
    padding: 0.75rem;
    background-color: var(--background-darker);
}